@import './_reset.scss';

$mainColor : #ff0000;
$alertColor-white: #eeeeee;
$alertColor-blue: #1d19cf;

.red{
  color:$mainColor;
}

// div.container h4 {
//   color: blue;
// }

// div.container p {
//   color: blue;
// }
// scss는 아래처럼 쌉가능

// div.container {
//   h4 {
//     color: blue;
//   }
//   p {
//     color: yellow;
//   }
// }

@mixin exam() {
  background : #eeeeee;
  padding : 15px;
  border-radius : 5px;
  max-width : 500px;
  width : 100%;
  margin : auto;
}
.my-

.my-alert {
  @include exam()
}

.my-alert-blue {
  @extend .my-alert;
  background-color: $alertColor-blue;
}

alert p {
  margin-bottom : 0;
}