@import './_reset.scss';

$mainColor : #ff0000;

.red{
  color:$mainColor;
}

// div.container h4 {
//   color: blue;
// }

// div.container p {
//   color: blue;
// }
// scss는 아래처럼 쌉가능

// div.container {
//   h4 {
//     color: blue;
//   }
//   p {
//     color: yellow;
//   }
// }

.my-alert {
  background : #eeeeee;
  padding : 15px;
  border-radius : 5px;
  max-width : 500px;
  width : 100%;
  margin : auto;
}
.my-alert p {
  margin-bottom : 0;
}